*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #24272c;
}

header{
    background-color: #161b23;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

header h1{
    margin: 10px;
    color:#d6dde8;
    font-size: 50px;
}

header .buttonContainer{
    margin: 10px;
}

.buttonContainer .buttonConfig{
    margin: 10px;
    background-color: #4b515c;
    color: #d6dde8;
    height: 40px;
    padding: 5px;
    border: 2px solid #124ca9;
}

.divContainer{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.mainConfig {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    /* flex-grow: 1; */
}

#cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    width: 500px;
    height: 500px;
}

.mainConfig .cardContainer .cardItem{
    height: 50px;
}