*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: #161b23;
    font-family: Arial, sans-serif;
    color: #d6dde8;
}

header{
    background-color: #161b23;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #d62ed3;
    width: 100%;
}

header h1{
    margin: 10px;
    color:#d6dde8;
    font-size: 50px;
}

header .buttonContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttonConfig{
    background-color: #441b48;
    color: #d6dde8;
    height: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.buttonConfig:hover{
    background-color: #91127e;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

#cardContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #24272c;
    max-width: 500px;
    width: 90%;
    border: 2px solid #58595D;
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 1/1;
}

#cardContainer img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
    top: 0;
    left: 0;
}

.text-meme{
    position: relative;
    text-align: center;
    width: 100%;
    padding: 20px 10px;
    border-radius: 4px;
    z-index: 2;
    font-size: 15px;
    font-weight: bold;
    background-color: #161b23;
}

.text-top, .text-bottom{
    align-self: flex-start;
    
}

aside{
    position: fixed;
    width: 310px;
    height: 100vh;
    background-color: #21242b;
    padding: 20px;
    top: 0;
    right: 0;
    overflow-y: auto;
    z-index: 10;
}

aside h2{
    text-align: center;
    margin-bottom: 20px;
    color: #91127e
}

#imgContainer,
#txtContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type="text"],
input[type="color"],
input[type="range"],
input[type="number"],
select{
    padding: 5px;
    border: 2px solid #d62ed3;
    border-radius: 5px;
    color: #441b48;
    font-size: 15px;

}

